@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic%7CPacifico%7CQuestrial');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:100');
@import url('https://fonts.googleapis.com/css?family=Grand+Hotel');



/*----------------FONT SCHEMA ---------------------------------*/

/* font-family: 'Pacifico', cursive;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Questrial', sans-serif; */
/* font-family: 'Work Sans', sans-serif; */


/*----------------COLOR SCHEMA ---------------------------------*/
/*
  PURPLE: #A1A0D2
  DARK PURPLE: #9449D8
  RED: #D86A75
  GREEN: #82FBD4
  DARK BLUE: #464961
*/

li {
  border: solid 1px white;
  list-style-type: none;
}
body {
  background-color: #867EC2;
  color: #FFFF;
  align-content: center;
  text-align: center;
}

.cover {
  background: url('/images/cover.jpg');
  background-size: cover;
}


.title{
  color: white;
}

.title:hover{
  color: white;
}

.title:visited{
  color: white;
}

h1 {
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 75px;
}

h2 {
  font-family: 'Work Sans', cursive;
  font-size: 26px;
}

h3 {
  font-family: 'Work Sans', cursive;
  font-size: 18px;
}

.noOneAvailable{
  color: #82FBD4
}

h5 {
  padding: 0
  font-family: 'Questrial', sans-serif;
  font-size: 15px;
}

h6 {
  padding: 0
  font-family: 'Questrial', sans-serif;
  font-size: 13px;
}

a {
  padding: 0;
  font-family: 'Work Sans', cursive;
  font-size: 20px;
  color: #82FBD4;
}

a:hover{
  color: #D86A75;
  text-decoration: none;
}

a:visited{
  color: #82FBD4;
  text-decoration: none;
}

.row{
  text-align: center;
  vertical-align: middle;
  margin-top: 50px;
}

.col-lg-6{
  position: relative;
}

.col-right{
  margin-top: 25%;
  margin-bottom: 25%;
}

.card {
  background-color: #867EC2;
  border-color: #FFFF;
  border-radius: 20px;
  margin: auto;
  width: 350px;
  margin-bottom: 30px;
}



label{
  float: left;
}

form {
  margin: 40px;
  font-family: 'Work Sans', cursive;

}

input {
  margin-top: 0;
}

.btn-lg{
  background-color: #D86A75;
  border-color: #D86A75;
  border-bottom: 20px;
  border-radius: 25px;
  font-size: 18px;
}

.btn:hover{
  background-color: #fc7e88;
  border-color: #fc7e88;
}

.alert {
  border: 10px;
}

.radar{
  margin-top: 80px;
  margin-bottom: 50px;
}

.logout a{
  text-align: center;
  position: fixed;
  bottom: 25px;
  color: #bcbbce;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 25px;
  text-align: center;
  background-color: #A2A1D2;
  font-family: 'Work Sans', cursive;
  margin-top: 20px;
}


.heart {
  -webkit-filter: hue-rotate(180deg);
  filter: hue-rotate(180deg);
  animation: heartbeat 1s infinite;

}

.body-container {
  margin-top: 10%;
}

.swipe-button {
  background: none;
  border: none;
}


.edit-profile {
  position:fixed;
  top:  0px;
  width: 50%
}
.my-matches {
  right: 0px;
}


.user-photo {
  border-radius: 30px;
  border: 1px white solid;
}

#ready-title {
  margin-top: 2.5%;
}

#dif {
  background-color: #464961;
  border-color: #464961;
}

#dif:hover {
  opacity: 0.75;
}
@keyframes heartbeat
{
  0%
  {
    transform: scale( 1.25 );
  }
  20%
  {
    transform: scale( 1.75 );
  }
  40%
  {
    transform: scale( 1.25 );
  }
  60%
  {
    transform: scale( 1.75 );
  }
  80%
  {
    transform: scale( 1.25 );
  }
  100%
  {
    transform: scale( 1.25 );
  }
}
