<% include ../partials/_head %>
<% include ../partials/_header %>


	<div class="body-container">
			 <a href="/user/<%=user.id%>/main"> 
	 <img class="heart" src="/images/heart-green.png"></a> 

	</div>
	<h2 id="ready-title"> Press to Start.</h2>


<% include ../partials/_footer %>
