<% include ../partials/_head %>
<% include ../partials/_header %>

<div class="card">

	<form action="/user/looking/<%= user.id %>?_method=PUT" method="POST">
		<h2>Preferences</h2>
		<h6>People you want to search for...</h6>
		<p></p>
		<div class="form-group">
			<h3>Age Range</h3>
			<p></p>
			<label for="Min Age">Min Age</label>
			<input type="number" class="form-control" name="minAge" required>
			<label for="Max Age">Max Age</label>
			<input type="number" class="form-control" name="maxAge" required>
		</div>

		<h6> What are you looking for? </h6>
		<p></p>
		<div class="checkbox">
  		<label><input type="checkbox" name="preferredGender" value="female"/> Female</label>
		</div><br>
		<p></p>
		<div class="checkbox">
			<label><input type="checkbox" name="preferredGender" value="male"/> Male</label>
		</div><br>
		<p></p>
		<div class="checkbox">
			<label><input type="checkbox" name="preferredGender" value="non-binary"/> Non-binary</label>
		</div><br>
		<p></p>
		<button  class= "btn btn-primary btn-lg" aria-pressed="false"type="submit" name="button">Ready?</button>

	</form>
</div>



<% include ../partials/_footer %>
