
<% include ../partials/_head %>
<% include ../partials/_header %>



<div class="card">

	<form action="/user/preferences/<%= user.id %>?_method=PUT" method="POST">
		<h2>Prefered Dates</h2>
		<h6>Choose your prefered dates in order to find people that wants to share the same moments with you</h6>
		<p></p>
		<div class="checkbox">
  		<label><input type="checkbox" name="preferredDates" value="dinner"/> Dinner</label>
		</div><br>
		<p></p>
		<div class="checkbox">
  		<label>  <input type="checkbox" name="preferredDates" value="movie"/> Movies</label>
		</div><br>
		<p></p>
		<div class="checkbox">
  		<label><input type="checkbox" name="preferredDates" value="hiking"/> Hiking</label>
		</div><br>
		<p></p>
		<div class="checkbox">
  		<label><input type="checkbox" name="preferredDates" value="shopping"/> Shopping</label>
		</div><br>
		<p></p>
		<button  class= "btn btn-primary btn-lg" aria-pressed="false"type="submit" name="button">Ready?</button>
	</form>
</div>

<% include ../partials/_footer %>
